In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import requests
from bs4 import BeautifulSoup
from urllib.request import urlopen, Request

In [9]:
#os.chdir("Desktop/")

In [134]:
url = "https://www.f1-fansite.com/f1-results/1999-f1-championship-standings/"
r = requests.get(url)
text = r.text
soup = BeautifulSoup(text)

In [11]:
#print(soup.prettify())

In [135]:
My_table = soup.find("table", {"class":"motor-sport-results msr_season_driver_results"})
#print(My_table)

In [136]:
table_body = My_table.find('tbody')
#table_body

In [137]:
data = []
rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for  ele in cols]
    data.append([ele for ele in cols if ele])

In [157]:
#data

In [158]:
tab = pd.DataFrame(data)
#tab

In [160]:
table_head = My_table.find('thead')
#table_head

In [161]:
headers = []
rows = table_head.find_all('tr')
#rows

In [162]:
for row in rows:
    cols = row.find_all('th')
    cols = [ele.text.strip() for  ele in cols]
    headers.append([ele for ele in cols if ele])

In [172]:
nombres = np.array(headers)

['Pos',
 'Driver',
 'AUS',
 'BRA',
 'SAN',
 'MON',
 'SPA',
 'CAN',
 'FRE',
 'BRI',
 'OST',
 'GER',
 'HUN',
 'BEL',
 'ITA',
 'EUR',
 'MAL',
 'JAP']

In [175]:
headers2=headers[0][0:-1]
tab.columns = headers
tab = tab.set_index('Pos')

In [176]:
tab

,Driver,AUS,BRA,SAN,MON,SPA,CAN,FRE,BRI,OST,GER,HUN,BEL,ITA,EUR,MAL,JAP,Pts
Pos,,,,,,,,,,,,,,,,,,
"(1,)",Mika Häkkinen,Ret,1,Ret,3,1,1,2,Ret,3,Ret,1,2,Ret,5,3,1,76
"(2,)",Eddie Irvine,1,5,Ret,2,4,3,6,2,1,1,3,4,6,7,1,3,74
"(3,)",Heinz-Harald Frentzen,2,3,Ret,4,Ret,11,1,4,4,3,4,3,1,Ret,6,4,54
"(4,)",David Coulthard,Ret,Ret,2,Ret,2,7,Ret,1,2,5,2,1,5,Ret,Ret,Ret,48
"(5,)",Michael Schumacher,8,2,1,1,3,Ret,5,Ret,2,2,44,None,None,None,None,None,None
"(6,)",Ralf Schumacher,3,4,Ret,Ret,5,4,4,3,Ret,4,9,5,2,4,Ret,5,35
"(7,)",Rubens Barrichello,5,Ret,3,9,DSQ,Ret,3,8,Ret,Ret,5,10,4,3,5,8,21
"(8,)",Johnny Herbert,DNS,Ret,10,Ret,Ret,5,Ret,12,14,11,11,Ret,Ret,1,4,7,15
"(9,)",Giancarlo Fisichella,4,Ret,5,5,9,2,Ret,7,12,Ret,Ret,11,Ret,Ret,11,14,13
"(10,)",Mika Salo,7,Ret,8,9,2,12,7,3,Ret,10,None,None,None,None,None,None,None
"(11,)",Jarno Trulli,Ret,Ret,Ret,7,6,Ret,7,9,7,Ret,8,12,Ret,2,DNS,Ret,7
"(12,)",Damon Hill,Ret,Ret,4,Ret,7,Ret,Ret,5,8,Ret,6,6,10,Ret,Ret,Ret,7
"(13,)",Alexander Wurz,Ret,7,Ret,6,10,Ret,Ret,10,5,7,7,14,Ret,Ret,8,10,3
"(14,)",Pedro Diniz,Ret,Ret,Ret,Ret,Ret,6,Ret,6,6,Ret,Ret,Ret,Ret,Ret,Ret,11,3
"(15,)",Jean Alesi,Ret,Ret,6,Ret,Ret,Ret,Ret,14,Ret,8,16,9,9,Ret,7,6,2
"(16,)",Olivier Panis,Ret,6,Ret,Ret,Ret,9,8,13,10,6,10,13,11,9,Ret,Ret,2
"(17,)",Marc Gené,Ret,9,9,Ret,Ret,8,Ret,15,11,9,17,16,Ret,6,9,Ret,1
"(18,)",Pedro de la Rosa,6,Ret,Ret,Ret,11,Ret,11,Ret,Ret,Ret,15,Ret,Ret,Ret,Ret,13,1
"(19,)",Alessandro Zanardi,Ret,Ret,11,8,Ret,Ret,Ret,11,Ret,Ret,Ret,8,7,Ret,10,Ret,0
"(20,)",Toranosuke Takagi,7,8,Ret,Ret,12,Ret,DSQ,16,Ret,Ret,Ret,Ret,Ret,Ret,Ret,Ret,0
"(21,)",Jacques Villeneuve,Ret,Ret,Ret,Ret,Ret,Ret,Ret,Ret,Ret,Ret,Ret,15,8,10,Ret,9,0
"(22,)",Ricardo Zonta,Ret,DNQ,Ret,9,Ret,15,Ret,13,Ret,Ret,8,Ret,12,0,None,None,None
"(23,)",Luca Badoer,Ret,8,Ret,Ret,10,10,Ret,13,10,14,Ret,Ret,Ret,Ret,Ret,0,None
"(24,)",Stéphane Sarrazin,Ret,0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [70]:
url="https://www.f1-fansite.com/f1-results/1950-f1-championship-standings/"

In [111]:
URLs=np.repeat(url,2019-1950+1, axis=0)

In [112]:
years=list(range(1950, 2020))

In [115]:
for x in range(0,2019-1950+1):
        URLs[x] = URLs[x].replace("1950", str(years)[1+x*6:5+x*6])

In [178]:
for x in range(0,2019-1950+1):
    r = requests.get(URLs[x])
    text = r.text
    soup = BeautifulSoup(text)
    My_table = soup.find("table", {"class":"motor-sport-results msr_season_driver_results"})
    table_body = My_table.find('tbody')
    data = []
    rows = table_body.find_all('tr')
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for  ele in cols]
        data.append([ele for ele in cols if ele])
    tab = pd.DataFrame(data)
    table_head = My_table.find('thead')
    headers = []
    rows = table_head.find_all('tr')
    nombres = np.array(headers)
    headers2=headers[0][0:-1]
    tab.columns = headers
    tab = tab.set_index('Pos')

IndexError: list index out of range