In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import requests
from bs4 import BeautifulSoup
from urllib.request import urlopen, Request

In [26]:
url = "https://www.f1-fansite.com/f1-results/1950-f1-championship-standings/"
URLs=np.repeat(url,2019-1950+1, axis=0)
years=list(range(1950, 2020))
for x in range(0,2019-1950+1):
    URLs[x] = URLs[x].replace("1950", str(years)[1+x*6:5+x*6])
URLs[9]="https://www.f1-fansite.com/f1-results/1950-f1-championship-standings/"

In [27]:
for x in range(0,2019-1950+1):
    r = requests.get(URLs[x])
    text = r.text
    text2="".join(text)
    text3=text2.replace("&nbsp;","NP")
    soup = BeautifulSoup(text3)
    My_table = soup.find("table", {"class":"motor-sport-results msr_season_driver_results"})
    table_body = My_table.find('tbody')
    data = []
    rows = table_body.find_all('tr')
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        data.append([ele for ele in cols if ele])
    tab = pd.DataFrame(data)
 ##############################################################################################
################################################################################################
 ##############################################################################################
    table_head = My_table.find('thead')
    headers = []
    rows = table_head.find_all('tr')
    for row in rows:
        cols = row.find_all('th')
        cols = [ele.text.strip() for ele in cols]
        headers.append([ele for ele in cols if ele])
    nombres = np.array(headers)
    tab.columns = headers
    tab = tab.set_index('Pos')

In [34]:
 ########################################################################################################
#################################### the strange case of 1959 ############################################
 ########################################################################################################
    
r=requests.get("https://www.f1-fansite.com/f1-results/1959-f1-championship-standings/")
text = r.text
text2="".join(text)
text3=text2.replace("&nbsp;","NP")
soup = BeautifulSoup(text3)
My_table = soup.find("table", {"class":"motor-sport-results msr_season_team_results"})
table_body = My_table.find('tbody')
data = []
rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])
    tab = pd.DataFrame(data)
 ##############################################################################################
################################################################################################
 ##############################################################################################
table_head = My_table.find('thead')
headers = []
rows = table_head.find_all('tr')
for row in rows:
    cols = row.find_all('th')
    cols = [ele.text.strip() for ele in cols]
    headers.append([ele for ele in cols if ele])
    nombres = np.array(headers)
    tab.columns = headers
    tab = tab.set_index('Pos')

In [35]:
tab

                Team  MON INDY  DUT  FRE  BRI  GER  POR  ITA   US      Pts
Pos
(1,)   Cooper-Climax    1   NP    2    3    1    4    1    1    1  40 (53)
(2,)         Ferrari    2   NP    5    1   NP    1    3    2    3  32 (38)
(3,)             BRM  Ret   NP    1    6    2    5    5    7   NP       18
(4,)          Watson   NP    1   NP   NP   NP   NP   NP   NP   NP        8
(5,)      Team Lotus  Ret   NP    4  Ret    8  Ret  Ret  Ret    5        5
(6,)        Lesovsky   NP    3   NP   NP   NP   NP   NP   NP   NP        4
(7,)         Epperly   NP    4   NP   NP   NP   NP   NP   NP   NP        3
(8,)    Aston Martin   NP   NP  Ret   NP    6   NP    6   10   NP        0
(9,)         Porsche  Ret   NP   10   NP   NP   NP   NP   NP    7        0
(10,)   Kurtis Kraft   NP    7   NP   NP   NP   NP   NP   NP  Ret        0
(11,)       Maserati  DNQ   NP   NP    8  Ret   NP   NP   15  DNS        0
(12,)          Kuzma   NP   10   NP   NP   NP   NP   NP   NP   NP        0
(13,)          Moore   NP   12   NP   NP   NP   NP   NP   NP   NP        0
(14,)           Dunn   NP   13   NP   NP   NP   NP   NP   NP   NP        0
(15,)          Elder   NP   23   NP   NP   NP   NP   NP   NP   NP        0
(16,)       Phillips   NP   24   NP   NP   NP   NP   NP   NP   NP        0
(17,)    Christensen   NP   27   NP   NP   NP   NP   NP   NP   NP        0
(18,)         Sutton   NP   30   NP   NP   NP   NP   NP   NP   NP        0
(19,)        Tec-Mec   NP   NP   NP   NP   NP   NP   NP   NP  Ret        0
(20,)      Connaught   NP   NP   NP   NP   NP   NP   NP   NP  Ret        0
(21,)            JBW   NP   NP   NP   NP  Ret   NP   NP   NP   NP        0
(22,)        Vanwall   NP   NP   NP   NP  Ret   NP   NP   NP   NP        0
(23,)            Fry   NP   NP   NP   NP  DNQ   NP   NP   NP   NP        0